.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background: lightblue;
}