.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightblue;
}


.table-cell {
    border: 1px solid lightblue;
    text-align: center;
    padding: 12px;
}

.table-cell-hover:hover {
    background: lightgray;
    cursor: pointer;
}

.table-row-first {
    background: lightblue;
}

.table-cell-sum {
    font-weight: bold;
}