.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightblue;
}


.table-cell {
    border: 1px solid lightblue;
    text-align: center;
    padding: 12px;
}
.table-cell:hover {
    background: lightgray;
}

.table-row-first {
    background: lightblue;
}